h1, h2, h3, h4, h5, h6{
    font-family: 'Sunflare';
}
h1{
    letter-spacing: 8px;
}
h2, h3, h4, h5, h6{
    letter-spacing: 3px;
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.pt-120{
    padding-top: 120px;
}
.pb-120{
    padding-bottom: 120px;
}
body{
    font-family: "Proza Libre", sans-serif;
}
.navbar-brand img, .logo{
    width: 220px;
}
.search{
    font-size: 18px;
}
.user{
    margin-top: -4px;
    font-size: 24px;
}
.video, .staff-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.video video, .staff-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.video h1{
    font-weight: 500;
}
.search-box::placeholder{
    color: #000000;
}
.offcanvas.offcanvas-top{
    border-bottom: 0;
}
.carousel-caption{
    top: 35%;
    width: 25%;
}
.banner{
    background-color: rgba(0, 255, 255, 0.01);
    height: max-content;
    left: 24%;
    width: 54%;
    backdrop-filter: blur(10px);
}
.modal-dialog{
    max-width: 610px;
}
.modal-content{
    padding: 25px;
}
@media (max-width: 768px){
    .navbar-brand{
        width: 45% !important;
    }    
}
@media (max-width: 426px){
    .navbar-brand{
        width: 65% !important;
    }    
}
@media (max-width: 375px){
    .navbar-brand{
        width: 73% !important;
    }    
}