.team-name{
    display: inline-block;
    transition: all 0.5s;
}
.team-name h5{
    transition: all 0.5s;
    cursor: pointer;
}
.team-name:hover h5{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.breadcrumb-item+.breadcrumb-item::before{
    content: '\F27B';
    font-family: 'bootstrap-icons' !important;
    color: var(--primary-color);
}