.banner{
    left: 40%;
    top: 30%;
    height: max-content;
    width: max-content;
    backdrop-filter: blur(5px);
}
.team-name{
    display: inline-block;
    transition: all 0.5s;
}
.team-name h5{
    transition: all 0.5s;
    cursor: pointer;
}
.team-name:hover h5{
    background-color: var(--secondary-color);
    color: var(--text-color);
}